html,
body{
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

h1{
  color: green;
}

table {
  background: slategray;
  margin: 0 auto;
  border-radius: 20px;
}



td {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  background: white;
  border-radius: 100%;

}
